
<form method="POST" action="/contacts">

    <label for="name"><%= @name %></label>
    
    <input type="text" name="name">

    <label for="email"><%= @email %></label>
    
    <input type="email" name="email">
    
    <input type="submit" value="Create">
</form>

