<!DOCTYPE html>
<html>
<head>
	<title>Car list</title>
</head>
<body>
	 <a href="/cars/new">New Car</a>
	<% @cars.each do |car| %>
	<div>
   		<h3>
   			<a href="/cars/<%= car.id %>"><%= car.name %></a>
   			<form method="POST" action="/cars/<%= car.id %>">
				<input type="hidden" name="_method" value="DELETE">
				<button>DELETE</button>
			</form>
   		</h3>
   </div>
	<% end %>
</body>
</html>